<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vis.thirdtime">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sgicon"
        android:label="Social Greens"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display3"></activity>
        <activity android:name=".welcome"></activity>
        <activity
            android:name=".create_account"
            android:label="Create New Account">
        </activity>
        <activity android:name=".sgtour"></activity>
        <activity android:name=".pplanner"></activity>
        <activity android:name=".layout_library"></activity>
        <activity android:name=".grid_welcome2"></activity>
        <activity android:name=".tourLayout"></activity>
        <activity
            android:name=".tourLayout2"
            android:label="Social Greens Tour">
        </activity>
    </application>

</manifest>